
<div class="container d-flex justify-content-between align-items-center">
    <div class="my-6 d-flex align-items-center">
        <div class="me-10 d-flex align-items-center">
            <a href="../pages/index.html">
                <img class="logo me-4" src="../assets/images/logo.png" alt="7TAO的logo">
                <h1 class="visually-hidden">7TAO活動訂票網</h1>
            </a>
            <h4 class="title fs-4 mb-0 me-1">7TAO</h4>
            <p class="mb-0 fw-bold">活動訂票網</p>
        </div>
        <nav class="navbar">
            <div class="container-fluid">
                <form class="d-flex">
                    <input class="form-control border border-2" type="search" placeholder="探索活動" aria-label="Search">
                    <button class="btn btn-primary" type="submit">
                        <i class="icofont-search-1 icofont-md text-warning" ></i>
                    </button>
                </form>
            </div>
        </nav>
    </div>
    <ul class="icofont-ul d-flex mb-0">
        <li class="me-6 d-flex align-items-center">
            <a href="#">
                <i class="icofont-ui-file fs-8 me-1"></i>
                REGISTER
            </a>
        </li>
        <li class="d-flex align-items-center">
            <a href="#">
                <i class="icofont-ui-user fs-8 me-1"></i>
                LOGIN
            </a>
        </li>
    </ul>
</div>
<div class="container-fliud">
    <hr class="border border-3 mt-0 mb-8">
</div>