<div class="container">
    <div class="my-6">
        <div class="me-8">
            <h1>7TAO活動訂票網
                <a href="../pages/index.html">
                    <img src="../assets/images/logo.png" alt="7TAO的logo">
                </a>
            </h1>
            <h4 class="fs-4">7TAO</h4>
            <p>活動訂票網</p>
        </div>
        <div>
            <input type="text" name="search" id="search" placeholder="探索活動">
            <button><i class="icofont-search-1"></i></button>
        </div>
    </div>
    <ul class="list-unstyled">
        <li>
            <a href="#">REGISTER
                <i class="icofont-ui-file"></i>
            </a>
        </li>
        <li>
            <a href="#">LOGIN
                <i class="icofont-ui-user"></i>
            </a>
        </li>
    </ul>
</div>
<div class="container-fliud">
    <hr class="border-3">
</div>