.logo{
  min-width: 40px;
  height: 40px;
  @include pc{
    min-width: 53px;
    height: 53px;
  }
}
.title{
  font-family: "Yeseva One";
}
.icofont-ui-file{
  font-size: 18px;
}
.header-item:hover{
  color: #9C9E18;
}
.navbar__input{
    height: 39px;
    @include pc {
        width: 55px;
        height: 55px;
      }
}
.navbar__inputBtn{
  width: 39px;
  height: 39px;
  @include pc {
      width: 55px;
      height: 55px;
    }
  
}
.inputBtn__icon{
  width: 39px;
  position: relative;
  top: -8px;
  left: -10px;
  @include pc{
      width: 55px;
      height: 55px;
      top: -2px;
      left: -9px;
    }
}
.position-absolute{
  position: absolute;
  z-index: 20;
  background: inherit;
}
.header-bg{
  background: inherit;
}