.index-title {
  font-size: 100px;
}
.banner{
  max-height: 518px;
  min-height: 350px;
  object-fit: cover;
}
.cate{
  width: 40px;
  @include pc{
    height: 80px;
  }
}
.sparkler{
  height: 20px;
}
.search-btn{
  background: $primary;
  &:hover{
    background: #9C9E18;
  }
}

.card-photo{
  height: 210px;
  width: 351px;
  object-fit: cover;
  
  @include pc {
      width: 416px;
      height: 255px;
    }
}

.activity-link{
  position: relative;
  &:hover {
      color: $primary;
      text-decoration: underline;
  }
  &:hover::before {
    content: '';
    top: 8px;
    left: -8px;
    position: absolute;
    width: 25px;
    border-radius: 99em;
    height: 25px;
    background-color: $warning;
    z-index: -1;
  }
  
}


.chat-gpt-photo{
  width: 100%;
  height: 158px;
  object-fit: cover;
  //object-position: 70% 30%;
  @include pc {
      // width: 746px;
      height: 317px;
    }
}

.badge-item:hover{
   color: white;
   background-color: $primary;
}

// .badge__link{在a上面的寫法
//   position: relative;
//   // 原本顏色
//   &::before{
//     content: '';
//     top: 0;
//     left: 0;
//     //display: block;
//     position: absolute;
//     width: 4px;
//     height: 100%;
//     background: $primary;
//   }
//   // Hover顏色
//   &:hover::before{
//     top: -1px;
//     height: calc(100% + 2px);
//     background: $warning;
//   }
// }
.badge__link{
  outline: 1px solid $primary;
  border-left: 4px solid #000;
  &:hover {
    outline: none;
    border-left-color: $warning;
    color: #fff;
    background-color: $primary;
  }
}
.activity__btn{
  color: white;
  background-color: $primary;
}

.activity__btn:hover{
  color: $warning;
}

.activity__text{
  letter-spacing: 10%;
}

.activity__item{
  img{
    object-fit: cover;
    height: 274px;
  }
}
.activity__photo li {
  &:nth-child(2n) {
    transform: rotate(2deg);
  }

  &:nth-child(3) {
    transform: rotate(-2deg);
  }
}
.h5__transform{
  transform: translate(-50%, -50%) rotate(-4deg);
}
.icon__square{
  position: relative;
}
.icon__square::after{
  content: '';
  position: absolute;
  top: -8px;
  left: -8px;
  width: 32px;
  height: 32px;
  background-color: $primary;
  z-index: -1;
}

.follow__contact:hover{
  text-decoration: underline;
  color: $primary;
}
.input__color{
  background-color: #F3F1E5;
}

.swiper {
  background-color: #000;
}

.swiper-wrapper {
  transition-timing-function: linear;
}

.swiper-slide {
  width: auto;
  color: $warning;
  background: $primary;
}