.index-title {
  font-size: 100px;
}
.banner{
  max-height: 518px;
}
.cate{
  height: 40px;
  @include pc {
    height: 80px;
  }
}
.sparkler{
  height: 20px;
}
.search-btn{
  background: $primary;
  &:hover{
    background: #9C9E18;
  }
}

.card-photo{
  height: 210px;
  width: 351px;
  object-fit: cover;
  
  @include pc {
      width: 416px;
      height: 255px;
    }
}

.activity-link:hover{
  text-decoration: underline;
}

.chat-gpt-photo{
  width: 351px;
  height: 158px;
}