.index-title {
  font-size: 100px;
}
.banner{
  max-height: 518px;
}
.cate{
  height: 40px;
  @include pc {
    height: 80px;
  }
}
.sparkler{
  height: 20px;
}
.search-btn{
  background: $primary;
  &:hover{
    background: #9C9E18;
  }
}

.card-photo{
  height: 210px;
  width: 351px;
  object-fit: cover;
  
  @include pc {
      width: 416px;
      height: 255px;
    }
}

.activity-link:hover{
  text-decoration: underline;
}

.chat-gpt-photo{
  width: 100%;
  height: 158px;
  object-fit: cover;
  //object-position: 70% 30%;
  @include pc {
      // width: 746px;
      height: 317px;
    }
}

.badge-item:hover{
   color: white;
   background-color: $primary;
}

.badge__link{
  position: relative;
  // 原本顏色
  &::before{
    content: '';
    top: 0;
    left: 0;
    display: block;
    width: 4px;
    height: 100%;
    background: $warning;
  }
  Hover顏色
  &::hover::before{
    top: -1px;
    height: calc(100% + 2px);
    background: $warning;
  }
}

.activity__text{
  letter-spacing: 10%;
}
